* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.04rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
}

.leftSection .btn1{
    padding: 12px;
}
.rightSection img {
    width: 80%;

}

.purple {
    color: rgb(139, 45, 226);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(139, 45, 226);
}

.SecondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.SecondSection h1 {
    font-size: 1.8rem;
}

.SecondSection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.SecondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 250px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.Vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.Vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 12px;
}

/* footer {
    background-color: #0e0e1a;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
} */
/* .footer ul{
    list-style: none;
}
.footer div{
    width:233px;
}
.footer-text-center
{
    text-align: center;
    color: gray;
    padding: 12px 0;
} */


.about-firstSection {
    display: flex;
    justify-content: space-around;
    margin: 120px 180px;
    text-align: center;
}
.about-leftSection{
    font-size: 3rem;
}

.about-SecondSection{
    display: flex;
    justify-content: space-around;
    margin: 120px 180px;
    text-align: center;
}
.about-leftSection2{
    font-size: 1.9rem;
}
.about-ThirdSection{
    
    text-align: center;
}
.download-button{
    margin : 5% 3% 5% 0;
}


#footer{
    text-align: center;
    background-color: #0e0e1a;
}
.social-icon{
    margin:20px 10px;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

/* @media (max-width: 992px){
    #title{
        text-align: center;
    }

    .title-image{
        position:static;
        transform: rotate(0);
        
    }
} */

#clickableAwesomeFont {
    cursor: pointer
}